/*сторінка*/
body {    
    margin: 0 auto;
    
    
    
   
    
}
/*шапка*/
.header {
    
    vertical-align: auto;
    
    font-size: 24px;
    
    
    width: 100%;
    height: 150px;
    background-color: #a5a5a5;
    display: flex;
    align-items: center;
    justify-content: center;
    
}



/*main*/
.main { 
    margin-left: 100px;
    margin-right: 100px;

    background-color: #e9e9e9;
    flex-direction: row;

}
/*block 1*/
.block-main-1 {
    
    height: 700px;
    display: flex;
    background-color: rgba(159, 39, 39, 0);
}
/*AVA*/
.photo-my-photo {
    width: 50%;

}
.h2 {
    font-weight: bold
}
/*info*/
.My-info {
    width: 50%;  
    height: 650px; 
    
    background-color: rgba(0, 255, 255, 0);
    
    
}
/*block 2*/
.block-main-2 {
    
    height: 200px;
    width: 100%;
    background-color: rgba(127, 255, 212, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

#block1 {
float: left;
display: block;
width: 300px;
border: 1px solid blue;
margin: 2px;
}
    
#block2 {
float: left;
display: block;
width: 300px;
border: 1px solid blue;
margin: 2px;
}


/*підвал*/
.footer {
    margin-bottom: 0 auto;
    height: 100px;
    background-color: #969696;

}

.footer1 {
    margin: 100px;
    align-items: flex-end;
}

.footer2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}




/*hr. dl,dt,dd.*/